.plusbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: #000 solid;
  background-color: #d9d9d9;
  height: 3em;
  width: 5em;
  padding: 0.5em;
}
