.button {
  display: flex;
  height: 17vw;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0.4vw solid #000;
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0.5em 0.5em #818181;
}
.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  border-bottom: #000 0.4vw solid;
  text-align: center;
  margin: 0;
}
.button-icon img {
  width: 9vw;
  aspect-ratio: 1/1;
}
.button h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  margin: 0;
  color: #fff;
  background-color: #3c8aff;
}
