.print {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.print-title {
  display: flex;
  align-items: center;
  text-align: center;
}
.print-file {
  margin-top: 2em;
  background-color: #d9d9d9;
  border: #000 solid;
  border-width: 0.25vw;
  width: 70vw;
  height: 30vh;
  text-align: center;
}
.print-file img {
  width: 7vw;
}
.print-file-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #000 solid;
  border-width: 0.25vw;
  height: 7vh;
  font-size: 0.8vw;
}
.print-upload {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 30vh;
  border: #000 dashed 0.4em;
  border-radius: 2em;
  margin-top: 2em;
  font-size: 0.8vw;
}
.print-upload p {
  cursor: pointer;
  background-color: #3c8aff;
  width: 8vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 1em;
  color: white;
}
.print-upload img {
  width: 5vw;
}
.print-upload h1 {
  margin: 0.2em;
}
.print-upload input {
  border: #000 solid;
  padding: 0.2em;
  width: 14em;
  display: flex;
  margin-bottom: 1em;
}
.print-file-section {
  display: flex;
  padding-left: 1em;
  align-items: center;
  height: 23vh;
}
.print-confirm {
  display: flex;
  gap: 4em;
}
.print-confirm h1 {
  border-radius: 0.5em;
  padding: 0.25em;
  width: 10vw;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}
.print-confirm h1:nth-child(1) {
  background-color: #3c8aff;
}
.print-confirm h1:nth-child(2) {
  background-color: #aab3c1;
}
.print-progress {
  margin-top: 1em;
  width: 30vw;
  height: 2vh;
}
