.home {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  margin-bottom: 2vw;
}

.home-search svg {
  width: 3vw;
}
.home-search-icon {
  scale: 1.4;
}
.home-search {
  padding-left: 0.4vw;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80vw;
  height: 4em;
  background-color: #d9d9d9;
  border-radius: 3em;
}
.home-searchbar {
  border: none;
  border-left: #000 2.6px solid;
  width: 75vw;
  height: 2.5vw;
  padding-left: 0.7vw;
  background-color: #d9d9d9;
  font-size: large;
}
.home-searchbar:focus {
  outline: none;
}
.home-item-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #000 3px solid;
  border-radius: 1vw;
  padding: 1.5vw;
  width: 77vw;
  height: 25vh;
}
.home-menu-item {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
.home-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4vh;
}
.home-menu-item-img {
  display: flex;
  justify-content: center;
}
.home-menu-item-img img {
  width: 13vw;
  height: 17vh;
}
.home-menu-item-des {
  padding: 1vw;
  width: 42vw;
  height: 25vh;
  border-left: #000 2px solid;
  border-right: #000 2px solid;
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
}
.home-menu-item-des h2,
h3,
p {
  margin: 0;
}
.home-menu-item-des p {
  font-size: 1vw;
}
.home-menu-item-table {
  display: flex;
  width: 14vw;
  flex-direction: column;
  font-size: 0.65vw;
}
.home-menu-item-table-att {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 1vh;
}
.home-menu-item-table h2 {
  margin: 0vh;
}
.home-menu-item-table-att p {
  margin: 0;
  font-size: 0.8vw;
}
.home-menu-item-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 29vh;
  border-left: #000 2px solid;
  padding-left: 1vw;
  font-size: 1.2vw;
  z-index: 1;
}
.home-menu-item-menu:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home a {
  color: #000;
}
