.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 14vw;
  background-color: #fff;
  border-right: #9b9b9b solid;
}
.navbar-button {
  width: 8em;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}
.navbar img {
  width: 14vw;
  height: 17vh;
  margin-top: 2vw;
}
.navbar-butt img {
  width: 2vw;
  height: 2vw;
  margin: 0;
}
.navbar-butt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.8em;
  height: 3vw;
  border-radius: 2em;
  cursor: pointer;
}
.navbar-butt:hover {
  background-color: #9b9b9b;
}
