.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.history-title {
  margin-bottom: 20px;
}

.table-container {
  overflow-y: auto; 
  max-height: 50vh;
}
.date-range-container{
  border: 2px solid #000000;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 20px;
}
.history table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;

}

.history th, .history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.history th {
  background-color: #f2f2f2;
  color: #000000;

}
